<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h2>Categories</h2>
<p class="message" th:text="${message}"></p>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
    </tr>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.title}"></td>
    </tr>
</table>
</body>
</html>