<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Add Mem</h2>

<form action="/mems" method="post" th:object="${mem}">
    <label>Type mem title</label>
    <input th:field="*{title}"/>
    <br/>
    <label>Type url adress</label>
    <input type="url" th:field="*{url}"/>
    <br/>
    <label>Choose category</label>
    <select name="category.id">
        <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category}"></option>
    </select>
    <input type="submit" value="Add"/>
</form>

</body>
</html>