<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h2>Mems</h2>
<!--<p class="message" th:text="${message}"></p>-->

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Image</th>
        <th>Category</th>
    </tr>
    <tr th:each="mem : ${mems}">
        <td th:text="${mem.id}"></td>
        <td th:text="${mem.title}"></td>
        <td>
            <img th:src="${mem.url}" alt="${mem.title}"/>
        </td>
        <td th:text="${mem.category}"></td>
    </tr>
</table>
</body>
</html>