<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div class="mem" th:if="${mem!=null}">
    <img th:src="${mem.url}" height="400px"/>
    <h3>All comments</h3>
    <p th:text="${comments}"></p>
    <h3>Add new comment</h3>
    <form action="/mems/addComment" method="post">
        <input type="hidden" name="memId" th:value="${mem.id}"/>
        <h4>Comment:</h4><br>
        <textarea type="text" name="commentBody"></textarea><br>
        <input type="submit" value="Add comment">
    </form>
</div>
<p th:if="${mem == null}">
    We can't find mem :(
</p>
</body>
</html>